torch==2.8.0
torchvision==0.23.0
transformers
tokenizers
datasets==3.6.0
evaluate
accelerate
bitsandbytes
galore-torch==1.0
wandb
loguru
timm
diffusers
-e .
# for evaluation of diffusion models
tensorflow>=2.0
scipy
requests
tqdm